<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Admin</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="appMenu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['../../', 'create']"><ion-icon name="add" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-grid>
    <ion-row>
      <ion-col size-md="12" size-xs="12" *ngFor="let data of computers">
        <ion-card [routerLink]="['../../', 'update', data.id]">
          <ion-row>
            <ion-col>
              <ion-img [src]="data.foto[0]"></ion-img>
            </ion-col>
            <ion-col>
              <ion-card-header>
                <ion-card-title>{{data.merk}} - {{data.model}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Rp. {{ data.harga }},-
                <br>
                Tersedia: {{ data.stok }}
              </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
