<ion-header>
  <ion-toolbar>
    <ion-title>About App</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="appMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="1" size-xs="0"></ion-col>
      <ion-col size-md="5" size-xs="12">
        <div>
          <ion-img src="assets/img/pict.png"></ion-img>
        </div>
      </ion-col>
      <ion-col size-md="5" size-xs="12">
        <div>
          <h4 class="ion-text-center">Jason Wenardi Hadinata - 00000018196</h4>
          <p class="ion-text-justify">
            Pada pembuatan Ujian Tengah Semester Mata kuliah Mobile 2, saya membuat seluruhnya sendiri dengan berdasarkan pada module mingguan lab yang telah dipelajari
            serta dari youtube ataupun browser yang digunakan untuk mengatasi error yang terjadi dalam pembuatan aplikasi ini. <br><br>
            Saya juga mengajukan pertanyaan kepada aslab seputar projek ini untuk jelas apa yang mesti dikerjakan beserta aturannya. 
            <br><br>
            Cara penggunaan aplikasi: <br><br>
            Aplikasi ini akan menampilkan tampilan home pada awal dijalankan. Dikanan atas home terdapat tombol untuk mengganti tampilan secara grid atau list. 
            Pada menu home hanya akan menampilkan barang yang ada stok saja. dan jika produk diklik akan pindah ke halaman detail.<br><br>
            Pada halaman detail foto dapat dislide jika terdapat lebih dari satu foto pada data. <br><br>
            Pada bagian kiri terdapat side menu yang jika klik admin maka pindah ke halaman admin, yang dibagian kanan atas terdapat tombol add. <br><br>
            Pada form add, foto url dapat ditambahkan lebih dari satu dengan menggunakan "comma", dan tombol submit bisa diklik saat semua kolom telah terisi semua. 
            Setelah itu pengguna perlu memasukkan detail dari produk yang telah ditambahkan sesuai dengan jenisnya. <br><br>
            Pada menu admin pengguna dapat menghapus produk dengan slide kanan produk, lalu klik tombol trash. yang dimana nanti ada alert untuk meyakinkan pengguna apakah benar akan menghapusnya.
            Sedangkan apabila slide kiri atau klik produk maka akan pindah ke halaman update barang. yang jika setuju untuk merubah akan menampilkan alert untuk meyakinkan pengguna kembali apakah perubahan tersebut benar.
          </p>
        </div>
      </ion-col>
      <ion-col size-md="1" size-xs="0"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
