<ion-header>
  <ion-toolbar>
    <ion-title>About App</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="appMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="1" size-xs="0"></ion-col>
      <ion-col size-md="5" size-xs="12">
        <div>
          <ion-img src="assets/img/pict.png"></ion-img>
        </div>
      </ion-col>
      <ion-col size-md="5" size-xs="12">
        <div>
          <h4 class="ion-text-center">Jason Wenardi Hadinata - 00000018196</h4>
          <p class="ion-text-justify">
            Pada pembuatan Ujian Tengah Semester Mata kuliah Mobile 2, saya membuat seluruhnya sendiri dengan berdasarkan pada module mingguan lab yang telah dipelajari
            serta dari youtube ataupun browser yang digunakan untuk mengatasi error yang terjadi dalam pembuatan aplikasi ini. <br><br>
            Saya juga mengajukan pertanyaan kepada aslab seputar projek ini untuk jelas apa yang mesti dikerjakan beserta aturannya.
          </p>
        </div>
      </ion-col>
      <ion-col size-md="1" size-xs="0"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
