ion-img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

ion-card{
    --ion-background-color: #FFFFFF;
}

ion-header{
    --ion-background-color: #dea95f;
    --ion-text-color: #000000;
}

ion-content {
    --ion-background-color: #f4fa46;
}
