<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="appMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" size-xs="6" *ngFor="let data of computers">
        <ion-card [routerLink]="['./', data.id]" *ngIf="data.stok > 0">
          <ion-img [src]="data.foto[0]"></ion-img>
          <ion-card-header>
            <ion-card-title>{{data.merk}} - {{data.model}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Rp. {{ data.harga }},-
            <br>
            Tersedia: {{ data.stok }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
