ion-header{
    --ion-background-color: #ed61b5;
    --ion-text-color: #000000;
}

ion-content {
    --ion-background-color: #D3D3D3;
}

ion-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
